.content {
	position: absolute;
	left: 50%;
	top: 50%;
	-ms-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	background: white;
	width: 27%;
	height: 50%;
	border-radius: 3px;
	padding:15px;
}

body {
	background: url(resources/fullscreen_bg_image.jpg) no-repeat center center fixed;
	background-size: 100% 100%;
}

*::-webkit-input-placeholder {
	color: black;
}

@font-face {
	font-family: OpenSans-Regular;
	src: url(resources/open-sans/OpenSans-Regular.ttf);
}

.login {
	font-family: OpenSans-Regular;
	position: absolute;
	left: 50%;
	top: 15%;
	transform: translate(-50%, -50%);
}

.spacer1 {
	position: absolute;
	left: 50%;
	top: 25%;
	transform: translate(-50%, -50%);
	background-color: #d0dce7;
	height: 1px;
	width: 80%;
}

.spacer2 {
	position: absolute;
	left: 50%;
	top: 47%;
	transform: translate(-50%, -50%);
	background-color: #d0dce7;
	height: 1px;
	width: 80%;
}

.spacer3 {
	position: absolute;
	left: 50%;
	top: 64%;
	transform: translate(-50%, -50%);
	background-color: #d0dce7;
	height: 1px;
	width: 80%;
}

.emailText {
	font-family: OpenSans-Regular;
	color: #d0dce7;
	position: absolute;
	left: 10%;
	top: 32%;
	font-size: 11px;
}

input {
	position: absolute;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 80%;
}

.submit {
	top: 90%;
	background-color: #007ee5;
	border: none;
	height: 10%;
	font-family: OpenSans-Regular;
	font-size: 11px;
	color: white;
	border-radius: 3px;
}

.email {
	top: 43%;
	border: none;
	font-family: OpenSans-Regular;
}

.password {
	top: 60%;
	border: none;
	font-family: OpenSans-Regular;
}

.terms {
	font-family: OpenSans-Regular;
	color: #d0dce7;
	position: absolute;
	top: 67%;
	text-align: center;
	font-size: 11px;
	margin-left: 30px;
	margin-right: 50px;
	line-height: 150%;
}

a {
	color: blue;
	text-decoration: none;
}

@media all and (max-width: 550px) {
	.content {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0%;
	top: 0%;
	-ms-transform: translateX(-0%) translateY(-0%);
	-webkit-transform: translate(-0%,-0%);
	transform: translate(-0%,-0%);
	background: white;
	width: 100%;
	height: 100%;
	border-radius: 0px;
	padding:0px;
	}

	.terms {
                margin: auto;
                width: 80%;
		text-align: left;
		font-size: 12px;
		position:absolute;
		left: 10%;
	}
	
	.terms p{
		
		margin:auto;
	}

	.spacer1 {
		height: 0;
	}

	.submit {
		top: 95%;
		font-weight: bold;
		width: 100%;
		border-radius: 0;
		position: absolute;
	}

}

@media all and (min-width:551px) and (max-width: 1000px) {
.content {
	position: absolute;
	left: 50%;
	top: 50%;
	-ms-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	background: white;
	width: 40%;
	height: 60%;
	border-radius: 3px;
	padding:15px;
}
}

