body {
	background-color: #f5f8f8;
}

*::-webkit-input-placeholder {
	color: black;
}

@font-face {
	font-family: OpenSans-Regular;
	src: url(resources/open-sans/OpenSans-Regular.ttf);
}

a {
	color: blue;
	text-decoration: none;
}

.mobile{
        display: none;
}
.textProfile {
	font-size: 12px;
	margin-top: 30px;
	line-height: 1px;
	margin-left: 10px;
	color: #727e88;
	font-family: OpenSans-Regular;
}

.buttonCancelSave {
	display: none;
}

.rightIconAll {
	display: none;
}

.business {
	display: none;
}

.ion-android-star {
	color: #727e88;
	font-size: 20px;
}

.ion-android-star-outline {
	color: #727e88;
	font-size: 20px;
}

.topContent {
	position: absolute;
	left: 50%;
	top: 25%;
	transform: translate(-50%, -50%);
	background: white;
	width: 80%;
	height: 35%;
	border-radius: 3px;
}

.botContent {
	position: absolute;
	left: 50%;
	top: 80%;
	transform: translate(-50%, -50%);
	background: white;
	width: 80%;
	height: 65%;
	border-radius: 3px;
	margin-bottom: 10%;
}

.spacer {
	margin-top: 2%;
}

.profileInfo {
	margin-left: 3%;
	margin-top: 3%;
	font-family: OpenSans-Regular;
	font-weight: bold;
	color: #727e88;
	font-size: 18px;
}

.profileInfoName {
	margin-top: 1px;
	margin-left: 3%;
	font-family: OpenSans-Regular;
	background-color: #f5f8f8;
	display: table;
	font-size: 14px;
	padding: 5px 0 5px 5px;
}

.topContent img {
	max-width: 50%;
	max-height: 50%;
	height: auto;
	bottom: 15px;
	left: 15px;
	position: absolute;
	-webkit-box-shadow: 0 0 5px 2px #c6c6c6;
	-moz-box-shadow: 0 0 5px 2px #c6c6c6;
	box-shadow: 0 0 5px 2px #c6c6c6;
}

.uploadCover {
	position: absolute;
	display: table;
	left: 45%;
	top: 24%;
	padding: 10px 20px;
	border-radius: 2px;
	border: solid 1px #a8b8c4;
	font-family: OpenSans-Regular;
	font-size: 14px;
	color: #727e88;
	text-align: center;
	width: 15%;
}

.rightIcon {
	background-color: #ecf1f5;
	margin-left: 10px;
	font-size: 14px;
	padding: 5px 10px;
	color: #727e88;
}

.rightIcon:hover {
	color: white;
	background-color: #007ee5;
}

.buttonLogOut {
	background-color: white;
	border: solid 1px;
	border-radius: 2px;
	padding: 8px 16px;
	color: #007ee5;
	float: right;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 12px;
	font-weight: bold;
	margin-right: 15px;
	margin-top: 15px;
	cursor: pointer;
	width:9%;
}

.spacer5 {
	position: absolute;
	left: 50%;
	top: 80%;
	transform: translate(-50%, -50%);
	background-color: #d0dce7;
	height: 1px;
	width: 100%;
	z-index: -1;
}

div.scrollmenu {
	overflow: auto;
	white-space: nowrap;
	position: relative;
	margin: 0;
	padding: 0;
	top: 80%;
	margin-left: 15%;
	background-color: transparent;
}

div.scrollmenu a {
	display: inline-block;
	text-align: center;
	padding: 12px;
	text-decoration: none;
	color: black;
	font-family: OpenSans-Regular;
	font-size: 15px;
}

div.scrollmenu a:hover {
	border-bottom: solid 2px #007ee5;
}

.active {
	border-bottom: solid 2px #007ee5;
}

li a:hover {
	border-bottom: solid 2px #007ee5;
}

.profileInformation {
	margin-top: 2px;
	margin-left: 3%;
	font-family: OpenSans-Regular;
	display: inline-block;
	font-size: 13px;
	padding-left: 5px;
}

.profileInformationName {
	margin-top: 2px;
	margin-left: 3%;
	font-family: OpenSans-Regular;
	display: table;
	font-size: 16px;
	padding-left: 5px;
}

.informations {
	position: absolute;
	top: 48%;
	left: 15%;
}

.followers {
	font-family: OpenSans-Regular;
	font-size: 12.5px;
	position: absolute;
	top: 80%;
	left: 89%;
	line-height: 50px;
	text-align: left;
	vertical-align: middle;
}

.followers a {
	color: #a8b8c4;
}

.stars a {
	color: black;
}

.stars {
	position: absolute;
	margin-top: 2px;
	top: 45%;
	left: 84%;
	font-family: OpenSans-Regular;
	font-size: 12.5px;
}

.popup {
	z-index: 1;
	-webkit-box-shadow: 0 0 5px 2px #c6c6c6;
	-moz-box-shadow: 0 0 5px 2px #c6c6c6;
	box-shadow: 0 0 5px 2px #c6c6c6;
	width: 200px;
	height: 120px;
	padding-left: 10px;
	position: absolute;
}

.popup .email {
	border: none;
	font-family: OpenSans-Regular;
}

.popup .emailText {
	padding-top: 10px;
	font-family: OpenSans-Regular;
	color: #d0dce7;
	font-size: 11px;
}

.popup .spacer2 {
	left: 10%;
	top: 47%;
	background-color: #d0dce7;
	height: 1px;
	width: 95%;
}

.submit {
	top: 90%;
	background-color: #007ee5;
	border: none;
	font-family: OpenSans-Regular;
	font-size: 10px;
	color: white;
	border-radius: 3px;
	margin-left: 3%;
	margin-top: 2%;
	padding: 5px 25px;
}

.popup .submit {
	top: 90%;
	background-color: #007ee5;
	border: none;
	font-family: OpenSans-Regular;
	font-size: 10px;
	color: white;
	border-radius: 3px;
	margin-top: 6%;
	padding: 5px 25px;
}

.arrow_box {
	margin-top: -15px;
	margin-left: auto;
	display:inline;
	background: white;
	border: 1px solid #fafafa;
}

.arrow_box:after, .arrow_box:before {
	right: 100%;
	top: 20%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-color: rgba(255, 255, 255, 0);
	border-right-color: white;
	border-width: 10px;
	margin-top: -10px;
}

.arrow_box:before {
	border-color: rgba(250, 250, 250, 0);
	border-right-color: #fafafa;
	border-width: 11px;
	margin-top: -11px;
}

.submitCancel {
	top: 90%;
	background-color: white;
	border: solid blue 1px;
	font-family: OpenSans-Regular;
	font-size: 10px;
	color: blue;
	border-radius: 3px;
	margin-left: 3%;
	margin-top: 2%;
	padding: 5px 25px;
}

.password {
	border: none;
	font-family: OpenSans-Regular;
}

.divPassword {
	margin-left: 3%;
	margin-top: 2%;
	display: table;
	border-bottom: solid 1px #d0dce7;
}




@media all and (max-width: 550px) {
	.topContent {
		left: 0;
		top: 7%;
		transform: translate(0%,0%);
		background-color: #f5f8f8;
		width: 100%;
		height: 60%;
	}

	.botContent {
		left: 0;
		top: 65%;
		transform: translate(0%,0%);
		background: white;
		width: 100%;
		height: 70%;
		border-radius: 3px;
		margin-bottom: 10%;
	}

	ul {
		top: 80%;
		left: 0;
		background-color: white;
		width: 100%;
	}

	li a {
		font-size: 10px;
		float: center;
	}

	.uploadCover {
		display: none;
	}

	.buttonLogOut {
		position: absolute;
		border: none;
		color: #007ee5;
		background-color: #f5f8f8;
		float: right;
		text-align: right;
		display: inline-block;
		margin-right: 0;
		margin-top: 0;
		top: -8%;
		right: 2%;
		width:100%;
	}

	.profileImage{
		width: 25%;
	}

	.profileImage img{
		height: 120px;
		width: 110px;		
		right: 0; 
		left: 0;
		top: 5%;
		bottom: 0;
		margin: -20px auto auto auto;
	}

	.profileInformationName {	
		padding-left: 0px;
		position: relative;
		margin: auto;
	}
	
	.profileInformation {
		width:100%;
		display: table;
}

	.informations {
		position: fixed;
		right: 0; 
		left: 0;
		margin: -30px auto auto auto;
	}

	.stars {
		left: 4%;
		top: 57%;
		margin: auto auto auto auto;
		line-height: 20px;
		width: 40%;
		text-align: left;
	}

	.ion-android-star {
		color: #007ee5;
	}

	.ion-android-star-outline {
		color: #007ee5;
	}

	.followers {
		left: 4%;
		top: 56%;
		margin: auto auto auto auto;
		top: 65%;
	}
	
	.followers a, .stars a {
		color: black;
	}

	.submit {
		display: none;
	}

	.buttonCancelSave {
		float: right;
		display: inline;
		border: none;
		background-color: white;
		color: #007ee5;
		font-size: 12px;
	}

	.profileInfoName {
		background-color: white;
	}

	.rightIcon {
		display: none;
	}

	.rightIconAll {
		float: right;
		display: inline;
		background-color: #ecf1f5;
		font-size: 14px;
		color: #727e88;
		padding: 5px 10px;
		margin-right: 10px;
	}

	.rightIconAll:hover {
		color: white;
		background-color: #007ee5;
	}

	.business {
		display: inline;
		margin-left: 15px;
		font-size: 14px;
		color: #727e88;
	}

	div.scrollmenu {
		overflow: auto;
		white-space: nowrap;
		position: relative;
		margin: 0;
		padding: 0;
		top: 80%;
		left: 0;
		background-color: white;
	}

	div.scrollmenu a {
		display: inline-block;
		text-align: center;
		padding: 12px;
		text-decoration: none;
		color: black;
		font-family: OpenSans-Regular;
		font-size: 15px;
	}

	div.scrollmenu a:hover {
		border-bottom: solid 2px #007ee5;
	}

	#myPopup {
		display: none;
	}
        
        .mobile{
                display: block;
        }

}

@media all and (min-width:551px) and (max-width: 1024px) {
	.stars, .profileInformation, .profileInformationName {
		font-size: 11px;
	}
        .stars{
                left:80%;
        }
	.buttonLogOut {
		padding: 0;
		font-size: 11px;
	}
	
	.uploadCover {
		font-size: 11px;
		padding: 0;
		width: 10%;
	}
	
	.followers {
		font-size: 11px;
		margin-left: -40px;
	}
	
	div.scrollmenu {
		top: 83%;
		margin-left: 20%;
	}

	div.scrollmenu a {
		padding: 10px;
		font-size: 11px;
	}

	.profileImage img{
		height: 90px;
		width: 80px;		
	}
        
        .topContent{
                height: 34%;
        }
        
        .botContent {
                height: 55%;
}
	
}