//colors
$color_black_haze_approx: #f5f8f8;
$white: white;
$color_azure_radiance_approx: #007ee5;
$black: black;
$color_athens_gray_approx: #ecf1f5;
$color_raven_approx: #727e88;
$color_pumice_approx: #c6c6c6;
$color_cadet_blue_approx: #a8b8c4;
$color_geyser_approx: #d0dce7;
$alabaster: #fafafa;
$blue:  blue;

//fonts
$font_0: OpenSans-Regular;

//urls
$url_0: url(resources/open-sans/OpenSans-Regular.ttf);

//@extend-elements
//original selectors
//.arrow_box:after, .arrow_box:before
%extend_1 {
	right: 100%;
	top: 20%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}


body {
	background-color: $color_black_haze_approx;
}
*::-webkit-input-placeholder {
	color: $black;
}
@font-face {
	font-family: $font_0;
	src: $url_0;
}
.textProfile {
	font-size: 12px;
	margin-top: 30px;
	line-height: 1px;
	margin-left: 10px;
	color: $color_raven_approx;
	font-family: $font_0;
}
.buttonCancelSave {
	display: none;
}
.rightIconAll {
	display: none;
}
.business {
	display: none;
}
.ion-android-star {
	color: $color_raven_approx;
	font-size: 20px;
}
.ion-android-star-outline {
	color: $color_raven_approx;
	font-size: 20px;
}
.topContent {
	position: absolute;
	left: 50%;
	top: 25%;
	transform: translate(-50%, -50%);
	background: $white;
	width: 80%;
	height: 35%;
	border-radius: 3px;
	img {
		max-width: 50%;
		max-height: 50%;
		height: auto;
		bottom: 15px;
		left: 15px;
		position: absolute;
		-webkit-box-shadow: 0 0 5px 2px $color_pumice_approx;
		-moz-box-shadow: 0 0 5px 2px $color_pumice_approx;
		box-shadow: 0 0 5px 2px $color_pumice_approx;
	}
}
.botContent {
	position: absolute;
	left: 50%;
	top: 80%;
	transform: translate(-50%, -50%);
	background: $white;
	width: 80%;
	height: 65%;
	border-radius: 3px;
	margin-bottom: 10%;
}
.spacer {
	margin-top: 2%;
}
.profileInfo {
	margin-left: 3%;
	margin-top: 3%;
	font-family: $font_0;
	font-weight: bold;
	color: $color_raven_approx;
	font-size: 18px;
}
.profileInfoName {
	margin-top: 1px;
	margin-left: 3%;
	font-family: $font_0;
	background-color: $color_black_haze_approx;
	display: table;
	font-size: 14px;
	padding: 5px 0 5px 5px;
}
.uploadCover {
	position: absolute;
	display: table;
	left: 45%;
	top: 24%;
	padding: 10px 20px;
	border-radius: 2px;
	border: solid 1px $color_cadet_blue_approx;
	font-family: $font_0;
	font-size: 14px;
	color: $color_raven_approx;
	text-align: center;
	width: 15%;
}
.rightIcon {
	background-color: $color_athens_gray_approx;
	margin-left: 10px;
	font-size: 14px;
	padding: 5px 10px;
	color: $color_raven_approx;
	&:hover {
		color: $white;
		background-color: $color_azure_radiance_approx;
	}
}
.buttonLogOut {
	background-color: $white;
	border: solid 1px;
	border-radius: 2px;
	padding: 8px 16px;
	color: $color_azure_radiance_approx;
	float: right;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 12px;
	font-weight: bold;
	margin-right: 15px;
	margin-top: 15px;
	cursor: pointer;
	width: 9%;
}
.spacer5 {
	position: absolute;
	left: 50%;
	top: 80%;
	transform: translate(-50%, -50%);
	background-color: $color_geyser_approx;
	height: 1px;
	width: 100%;
	z-index: -1;
}
.active {
	border-bottom: solid 2px $color_azure_radiance_approx;
}
.profileInformation {
	margin-top: 2px;
	margin-left: 3%;
	font-family: $font_0;
	display: inline-block;
	font-size: 13px;
	padding-left: 5px;
}
.profileInformationName {
	margin-top: 2px;
	margin-left: 3%;
	font-family: $font_0;
	display: table;
	font-size: 16px;
	padding-left: 5px;
}
.informations {
	position: absolute;
	top: 48%;
	left: 15%;
}
.followers {
	font-family: $font_0;
	font-size: 12.5px;
	position: absolute;
	top: 80%;
	left: 89%;
	line-height: 50px;
	text-align: left;
	vertical-align: middle;
	a {
		color: $color_cadet_blue_approx;
	}
}
.stars {
	position: absolute;
	margin-top: 2px;
	top: 45%;
	left: 84%;
	font-family: $font_0;
	font-size: 12.5px;
	a {
		color: $black;
	}
}
.popup {
	z-index: 1;
	-webkit-box-shadow: 0 0 5px 2px $color_pumice_approx;
	-moz-box-shadow: 0 0 5px 2px $color_pumice_approx;
	box-shadow: 0 0 5px 2px $color_pumice_approx;
	width: 200px;
	height: 120px;
	padding-left: 10px;
	position: absolute;
	.email {
		border: none;
		font-family: $font_0;
	}
	.emailText {
		padding-top: 10px;
		font-family: $font_0;
		color: $color_geyser_approx;
		font-size: 11px;
	}
	.spacer2 {
		left: 10%;
		top: 47%;
		background-color: $color_geyser_approx;
		height: 1px;
		width: 95%;
	}
	.submit {
		top: 90%;
		background-color: $color_azure_radiance_approx;
		border: none;
		font-family: $font_0;
		font-size: 10px;
		color: $white;
		border-radius: 3px;
		margin-top: 6%;
		padding: 5px 25px;
	}
}
.submit {
	top: 90%;
	background-color: $color_azure_radiance_approx;
	border: none;
	font-family: $font_0;
	font-size: 10px;
	color: $white;
	border-radius: 3px;
	margin-left: 3%;
	margin-top: 2%;
	padding: 5px 25px;
}
.arrow_box {
	margin-top: -15px;
	margin-left: auto;
	display: inline;
	background: $white;
	border: 1px solid $alabaster;
	&:after {
		@extend %extend_1;
		border-color: rgba(255, 255, 255, 0);
		border-right-color: $white;
		border-width: 10px;
		margin-top: -10px;
	}
	&:before {
		@extend %extend_1;
		border-color: rgba(250, 250, 250, 0);
		border-right-color: $alabaster;
		border-width: 11px;
		margin-top: -11px;
	}
}
.submitCancel {
	top: 90%;
	background-color: $white;
	border: solid $blue 1px;
	font-family: $font_0;
	font-size: 10px;
	color: $blue;
	border-radius: 3px;
	margin-left: 3%;
	margin-top: 2%;
	padding: 5px 25px;
}
.password {
	border: none;
	font-family: $font_0;
}
.divPassword {
	margin-left: 3%;
	margin-top: 2%;
	display: table;
	border-bottom: solid 1px $color_geyser_approx;
}
@media all and(max-width: 550px) {
	.topContent {
		left: 0;
		top: 7%;
		transform: translate(0%,0%);
		background-color: $color_black_haze_approx;
		width: 100%;
		height: 60%;
	}
	.botContent {
		left: 0;
		top: 65%;
		transform: translate(0%,0%);
		background: $white;
		width: 100%;
		height: 70%;
		border-radius: 3px;
		margin-bottom: 10%;
	}
	ul {
		top: 80%;
		left: 0;
		background-color: $white;
		width: 100%;
	}
	.uploadCover {
		display: none;
	}
	.buttonLogOut {
		position: absolute;
		border: none;
		color: $color_azure_radiance_approx;
		background-color: $color_black_haze_approx;
		float: right;
		text-align: right;
		display: inline-block;
		margin-right: 0;
		margin-top: 0;
		top: -8%;
		right: 2%;
		width: 100%;
	}
	.profileImage {
		width: 25%;
		img {
			height: 120px;
			width: 110px;
			right: 0;
			left: 0;
			top: 5%;
			bottom: 0;
			margin: 0 auto auto auto;
		}
	}
	.profileInformationName {
		padding-left: 0;
		position: relative;
		margin: auto;
	}
	.profileInformation {
		width: 100%;
		display: table;
	}
	.informations {
		position: fixed;
		right: 0;
		left: 0;
		margin: -30px auto auto auto;
	}
	.stars {
		left: 4%;
		top: 57%;
		margin: auto auto auto auto;
		line-height: 20px;
		width: 40%;
		text-align: left;
		a {
			color: $black;
		}
	}
	.ion-android-star {
		color: $color_azure_radiance_approx;
	}
	.ion-android-star-outline {
		color: $color_azure_radiance_approx;
	}
	.followers {
		left: 4%;
		top: 56%;
		margin: auto auto auto auto;
		top: 65%;
		a {
			color: $black;
		}
	}
	.submit {
		display: none;
	}
	.buttonCancelSave {
		float: right;
		display: inline;
		border: none;
		background-color: $white;
		color: $color_azure_radiance_approx;
		font-size: 12px;
	}
	.profileInfoName {
		background-color: $white;
	}
	.rightIcon {
		display: none;
	}
	.rightIconAll {
		float: right;
		display: inline;
		background-color: $color_athens_gray_approx;
		font-size: 14px;
		color: $color_raven_approx;
		padding: 5px 10px;
		margin-right: 10px;
		&:hover {
			color: $white;
			background-color: $color_azure_radiance_approx;
		}
	}
	.business {
		display: inline;
		margin-left: 15px;
		font-size: 14px;
		color: $color_raven_approx;
	}
	#myPopup {
		display: none;
	}
	li a {
		font-size: 10px;
		float: center;
	}
	div.scrollmenu {
		overflow: auto;
		white-space: nowrap;
		position: relative;
		margin: 0;
		padding: 0;
		top: 80%;
		left: 0;
		background-color: $white;
		a {
			display: inline-block;
			text-align: center;
			padding: 12px;
			text-decoration: none;
			color: $black;
			font-family: $font_0;
			font-size: 15px;
			&:hover {
				border-bottom: solid 2px $color_azure_radiance_approx;
			}
		}
	}
}
@media all and(min-width:551px) and(max-width: 1000px) {
	.stars {
		font-size: 11px;
	}
	.profileInformation {
		font-size: 11px;
	}
	.profileInformationName {
		font-size: 11px;
	}
	.buttonLogOut {
		padding: 0;
		font-size: 11px;
	}
	.uploadCover {
		font-size: 11px;
		padding: 0;
		width: 10%;
	}
	.followers {
		font-size: 11px;
		margin-left: -40px;
	}
	div.scrollmenu {
		top: 83%;
		margin-left: 20%;
		a {
			padding: 10px;
			font-size: 11px;
		}
	}
	.profileImage img {
		height: 90px;
		width: 80px;
	}
}
div.scrollmenu {
	overflow: auto;
	white-space: nowrap;
	position: relative;
	margin: 0;
	padding: 0;
	top: 80%;
	margin-left: 15%;
	background-color: transparent;
	a {
		display: inline-block;
		text-align: center;
		padding: 12px;
		text-decoration: none;
		color: $black;
		font-family: $font_0;
		font-size: 15px;
		&:hover {
			border-bottom: solid 2px $color_azure_radiance_approx;
		}
	}
}
li a:hover {
	border-bottom: solid 2px $color_azure_radiance_approx;
}